<footer class="footer">
  <p
    class="text animate__animated animate__rubberBand wow"
    data-wow-delay="300ms"
  >
    Lorem ipsum dolor sit amet.
  </p>
  <p
    class="text animate__animated animate__backInDown wow"
    data-wow-delay="600ms"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolor earum
    dignissimos similique accusamus? Repudiandae commodi animi quae vitae
    repellendus.
  </p>
  <p
    class="text animate__animated animate__fadeInRightBig wow"
    data-wow-delay="900ms"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolor earum
    dignissimos similique accusamus? Repudiandae commodi animi quae vitae
    repellendus.
  </p>
</footer>
