.footer {
  padding: 300px 10px;
  background-color: aqua;
}

.text {
  width: 300px;
  margin: 0 auto;
}

.text:nth-child(1) {
  background-color: #fff;
}

.text:nth-child(2) {
  background-color: salmon;
}

.text:nth-child(3) {
  background-color: crimson;
  color: #fff;
}

.text:not(:last-child) {
  margin-bottom: 100px;
}
